.App {
  text-align: center;
  overflow-y: auto;
}

button{
  padding: 1.5%;
  background-color: rgb(193, 226, 239);
  border-radius: 10px;
  border: 0px;
  font-size: larger;
  font-weight: bold;
  color: rgb(65, 89, 99) ;
}


@media screen and (max-width:500px){
  button{
    font-size: medium;
    padding: 2%;
  }
}

@media screen and (max-width:380px){
    
  button{
      width: 80%;
      margin: 2% 0%;
  }

}
